body {
  font-family: sans;
}

#map {
  height: 100%;
}

.info {
  color: white;
  background-color: black;
  text-align: right;
  font-size: 1.5em;
  margin: 0;
  padding: 0.5em;
  padding-top: 0;
  margin-top: 0;
}

.info h1, .info span {
  margin: 0;
}
